--no-binary=opencc
numpy<2.0
scipy
tensorboard
librosa==0.10.2
lazy_loader
soundfile
audioread
numba
pytorch-lightning>=2.4
lightning-utilities
gradio<5
gradio_client
httpx
python-multipart
ffmpeg-python
future
huggingface_hub>=0.19,<0.27
protobuf<6
rich<14
packaging<25
markupsafe~=2.0
jinja2>=3.1.6
tokenizers>=0.21,<0.22
accelerate
onnxruntime; platform_machine == "aarch64" or platform_machine == "arm64"
onnxruntime-gpu; platform_machine == "x86_64" or platform_machine == "AMD64"
tqdm
funasr==1.0.27
cn2an
proces
pypinyin
pyopenjtalk>=0.4.1
g2p_en
nltk
distance
inflect
typing-extensions>=4.6.0
torch
torchaudio
modelscope
sentencepiece
transformers>=4.43,<=4.50
peft<0.18.0
chardet
PyYAML
psutil
jieba_fast
jieba
split-lang
budoux
fast_langdetect>=0.3.1
fasttext-predict
robust-downloader
wordsegment
rotary_embedding_torch
ToJyutping
g2pk2
ko_pron
opencc
python_mecab_ko; sys_platform != 'win32'
fastapi[standard]>=0.115.2
x_transformers
einops
einx
llvmlite
joblib
msgpack
decorator
soxr
scikit-learn
torchcodec>=0.10.0
torchmetrics<=1.5
pydantic<=2.10.6
annotated-types
ctranslate2>=4.0,<5
av>=11
tenacity>=8.1.0
openpyxl>=3.0.0
typing_inspection
annotated_doc
pooch
